@media screen and (max-width: 991px){
	
	.we-are-making .text-part{
		text-align: center;
	}
	.we-are-making .text-part .count .count-sing{
		margin-bottom: 20px;
	}
	.headwe-nav{
		.container{
			padding: 10px;
		}
	}
	header .headwe-nav .nav-div .navbar-nav .nav-item .nav-link{
		padding: 10px;
		border-right: 0px;
	}
}